
.arrivals_container {
width: 100%;
margin: auto;
margin-top: 3em;
text-align: center;
padding: 11px;
}

.arrivals_container h2 {
font-size: 1.6rem;
font-weight: normal;
margin-bottom: 1.2em;
}

.arrivals_flex {
display: flex;
justify-content: flex-start;
gap: 0em;
overflow-x: auto;
scroll-behavior: smooth;
scrollbar-width: none;
-webkit-overflow-scrolling: touch;
}

.arrivals_flex::-webkit-scrollbar {
display: none;
}

.arrival_card {
flex-shrink: 0;
width: 250px;
scroll-snap-align: start;
background: #fff;
padding: 8px;
}

.arrival_video {
width: 100%;
height: auto;
border-radius: 11px;
object-fit: cover;
}

.arrival_title {
margin-top: 0.6em;
font-size: 1rem;
font-weight: 500;
}


@media (max-width: 768px) {

.arrivals_container {
width: 100%;
margin-top: 2em;
padding: 7px;
}

.arrivals_flex {
gap: 0em;
}

.arrival_card {
width: 75%;
}

.arrival_title {
font-size: 0.9rem;
}

}
