
.table-wrapper tr {
height: 33px;
}

.RelativeDB_product {
width: 76vw;
margin-left: 12vw;
position: relative;
margin-top: 2.5em;
transition: width 0.3s ease, margin 0.3s ease;
}

.RelativeDB_PRQuery-inside {
width: 97%;
transition: width 0.3s ease;
margin: 0 auto;
margin-top: 2.5em;
}

.DB_products_ {
display: flex;
flex-direction: column;
position: absolute;
width: 100%;
margin: 3.7em 0 0 8.7em;
padding-bottom: 77px;
align-items: center;
text-align: start;
box-shadow: 0 4px 6px rgba(2, 0, 0, 0.048);
transition: margin 0.3s ease;
}

.DB_products_PRQuery-inside {
margin-left: 0;
}

.RelativeDB_product h3 {
font-weight: normal;
}

.table-wrapper {
width: 100%;
border-radius: 7px;
overflow-x: auto;
overflow-y: visible;
-webkit-overflow-scrolling: touch;
border: 0.5px solid rgb(247, 246, 246);
}

.product-table {
width: 100%;
min-width: 600px;
border-collapse: collapse;
border: 1px solid rgb(238, 235, 235);
}

.product-table thead {
background-color: rgb(244, 247, 248);
border: 1px solid rgb(238, 235, 235);
}

.product-table th,
.product-table td {
font-size: 0.9rem;
text-align: start;
word-wrap: break-word;
}

.product-table th {
font-weight: normal;
padding: 8px 20px;
color: #383c44;
}

.product-table td {
font-size: 0.8rem;
line-height: 1.7em;
padding: 0 21px;
border-bottom: 1px solid rgba(0, 0, 0, 0.095);
}

.product-table .tdData {
width: 267px;
}

.product-table td img {
width: 48px;
object-fit: cover;
border-radius: 5px;
margin-top: .5em;
}


@media (max-width: 769px) {

.RelativeDB_product {
width: calc(100% - 7vw);
margin-left: 0vw;
margin-top: 1.7em;
}

.DB_products_ {
width: 97%;
margin-left: 5vw;
}

.RelativeDB_PRQuery-inside {
width: 90%;
}

.table-wrapper {
overflow-x: auto;
}

.product-table {
min-width: 550px;
}

}


@media (min-width: 769px) and (max-width: 862px) {

.RelativeDB_product {
width: 56vw;
margin-left: 23vw;
margin-top: 1.7em;
}

.RelativeDB_PRQuery-inside {
width: 95%;
margin-left: 3vw;
}

.RelativeDB_PRQuery-inside {
width: 94%;
}

.table-wrapper {
overflow-x: auto;
}

.product-table {
min-width: 600px;
}

}


@media (min-width: 862px) and (max-width: 992px) {

.RelativeDB_product {
width: 60vw;
margin-left: 21vw;
margin-top: 1.7em;
}

.RelativeDB_PRQuery-inside {
width: 95%;
margin-left: 2em;
}

.RelativeDB_PRQuery-inside {
width: 94%;
}

.table-wrapper {
overflow-x: auto;
}

.product-table {
min-width: 600px;
}

}


@media (min-width: 992px) and (max-width: 1098px) {

.RelativeDB_product {
width: 66vw;
margin-left: 18vw;
margin-top: 1.7em;
}

.RelativeDB_PRQuery-inside {
width: 95%;
margin-left: 3vw;
}

.table-wrapper {
overflow-x: auto;
}

}


@media (min-width: 1098px) and (max-width: 1219px) {

.RelativeDB_product {
width: 70vw;
margin-left: 16vw;
margin-top: 1.7em;
}

.RelativeDB_PRQuery-inside {
width: 95%;
margin-left: 3vw;
}

.table-wrapper {
overflow-x: auto;
}

}


@media (min-width: 1219px) and (max-width: 1519px) {

.RelativeDB_product {
width: 71vw;
margin-top: 1.7em;
margin-left: 15vw;
}

.RelativeDB_PRQuery-inside {
width: 95%;
margin-left: 3vw;
}

.table-wrapper {
overflow-x: auto;
}

}